<h4>Gears:</h4>
<hr>

<div class="row">
  <div class="col-sm-1">
    <mat-radio-group [(ngModel)]="type">
      <mat-radio-button value="All" checked>All</mat-radio-button>
      <mat-radio-button value="Blade">Blade</mat-radio-button>
      <mat-radio-button value="Rubber">Rubber</mat-radio-button>
      <mat-radio-button value="Ball">Ball</mat-radio-button>
      <mat-radio-button value="Shoes">Shoes</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-sm-11">
    <main class="gears-container">
      <section class="gears-list-section">
        <div class="gears-list-container">
          <app-gear-overview *ngFor="let gear of gears | gearCategory: type" [g]="gear"></app-gear-overview>
        </div>
      </section>
    </main>
  </div>
</div>

