<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" routerLink="/home">{{title}}</a>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/location">{{location}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gear">{{gear}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/member">{{member}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reservation">{{reservation}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/event">{{event}}</a>
      </li>
    </ul><ul class="navbar-nav ml-auto">
    <li class="nav-item float-right">
        <a mat-icon-button routerLink="/logout" (click)="logout()">logout</a>
    </li>
  </ul>

  </div>


</nav>
