<h4>Members:</h4>
<hr>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Member">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- memberId Column -->
  <ng-container matColumnDef="memberId">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let element">{{element.memberId}}</td>
  </ng-container>

  <!-- phone Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.memberDetail.name}}</td>
  </ng-container>

  <!-- phone Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef>Phone</th>
    <td mat-cell *matCellDef="let element">{{element.memberDetail.phone}}</td>
  </ng-container>

  <!-- tier Column -->
  <ng-container matColumnDef="tier">
    <th mat-header-cell *matHeaderCellDef>Tier</th>
    <td mat-cell *matCellDef="let element">{{element.membershiptier.tierName}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Operation</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="../member-detail/{{element.memberId}}" class="btn btn-light btn-outline-info">Edit</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row, columns: displayedColumns"></tr>

</table>

<a routerLink="../member-registration" class="btn btn-info">Add Member</a>

