<a [routerLink]="['/location-detail/', l.locationId]">
  <div class="pic-container">
    <img src="{{l.image}}" alt="when image failed to load, will show this text"
         width="200" height="160">
  </div>
  <div class="locations-list-item-text text-info">
    {{l.name}}
  </div>
</a>
