<div class="container-fluid" *ngIf="member">

<!--  {{diagnostic}}-->

  <form (ngSubmit)="onSubmit()" #memberEditForm="ngForm">

    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" required [(ngModel)]="member.memberDetail.name">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="text" class="form-control" name="phone" required [(ngModel)]="member.memberDetail.phone">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" name="email" required [(ngModel)]="member.memberDetail.email">
    </div>

    <div class="form-group">
      <label>Address</label>
      <input type="text" class="form-control" name="address1" required [(ngModel)]="member.memberDetail.address1">
    </div>

    <div class="form-group">
      <label>City</label>
      <input type="text" class="form-control" name="city" required [(ngModel)]="member.memberDetail.city">
    </div>

    <div class="form-group">
      <label>State</label>
      <input type="text" class="form-control" name="state" required [(ngModel)]="member.memberDetail.state">
    </div>

    <div class="form-group">
      <label>zip</label>
      <input type="text" class="form-control" name="zip" required [(ngModel)]="member.memberDetail.zip">
    </div>

    <div class="form-group">
      <label>Tier</label>
      <select name="tier" class="form-control" [(ngModel)]="member.membershiptier.tierId">
        <option value="1">Visitor</option>
        <option value="2">Gold</option>
        <option value="3">Executive</option>
      </select>
    </div>

    <div class="form-group">
      <label>Member Since</label>
      <input type="text" class="form-control" name="memberSince" [(ngModel)]="member.memberSince">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!memberEditForm.form.valid">Update Member</button>

  </form>
</div>
